/* Estilos generales */
:root {
  --c-app1: #ffffff;
  --c-app2: #dddddd;
  --c-btn1: #007bff;
  --c-btn2: #0056b3;
  --c-main1: #e8f0fe;   /* azul hielo */
  --c-main2: #d2e3fc; 
  --c-correct: #5ce25c;
  --c-incorrect: #e25c5c;
  --c-background: #f4f4f4;
  --c-explanation1: #f8f8f0;
  --c-explanation2: #e8e8d0;
  --c-btn-disabled: #cccccc;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--c-background);
  color: #333;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: var(--c-app1);
}

h1 {
  text-align: center;
  color: #333;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--c-app2);
}

#question-container {
  margin-top: 20px;
}

.question {
  margin-top: 10px;
  padding-bottom: 5px;
  position: relative;
  text-align: left;
}

.question::before {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--c-app2);
}

.question label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.question ul {
  list-style-type: none;
  padding: 0;
}

.answer {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--c-main1);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 300ms ease, transform 300ms ease;
}

.answer:hover,
.answer:focus-within {
  background-color: var(--c-main2);
  transform: scale(1.005);
}

.answer label {
  pointer-events: none;
  margin-left: 10px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.answer input {
  margin-right: 10px;
  margin: 10px;
}

.explanation {
  background-color: var(--c-explanation1);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border-left: 5px solid var(--c-explanation2);
}

.correct {
  background-color: var(--c-correct);
}

.incorrect {
  background-color: var(--c-incorrect);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  #root {
    padding: 0.5rem;
  }
  #topic-selector {
    max-width: 350px;
  }

  #app {
    margin: 10px;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  .question label {
    font-size: 16px;
  }
  .question h3 {
    font-size: 16px;
    font-weight: medium;
    text-align: left;
  }

  .answer {
    padding: 8px;
    text-align: left;
  }

  .answer label {
    font-size: 14px;
  }

  .explanation {
    font-size: 14px;
    text-align: left;
  }
}

/* Estilos para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  #app {
    max-width: 90%;
  }

  h1 {
    font-size: 28px;
  }

  .question label {
    font-size: 18px;
  }
  .question h3 {
    font-size: 16px;
    font-weight: medium;
    text-align: left;
  }

  .answer {
    text-align: left;
  }


  .answer label {
    font-size: 16px;
  }

  .explanation {
    font-size: 16px;
    text-align: left;
  }
}